<!-- sirf ek footer rakho -->
<style>
    .insta{
   color: rgb(181, 46, 97);
  text-decoration: none;    }
  .insta:hover{
     color: rgb(190, 28, 90);
  }
  
</style>
<footer>

    <div class="f-info">
        <div class="f-info-social">
          <a href="https://www.facebook.com/AirbnbIndia/"> <i class="fa-brands fa-facebook"></i></a>
           
            <a href="https://www.instagram.com/airbnb/" class="insta"> <i class="fa-brands fa-square-instagram"></i></a>
           
            <a href="https://www.linkedin.com/company/airbnb/"> <i class="fa-brands fa-linkedin"></i></a>
           
        </div>
        <div>&copy;wonderlust private ltd</div>
        <div class="f-info-links">
            <a href="/privacy" class="footer-link">privacy</a>
            <a href="/terms" class="footer-link">Terms</a>
        </div>
    </div>
    
</footer>